.home-container {
    margin-left: 240px;
    height: 100vh;
    width: 300vh;
    display: flex;
    align-items:center;
    justify-content: left;
    padding: 1rem;
    box-sizing: border-box;
    background-color:#F2F3F5 ;
    font-family: Arial, Helvetica, sans-serif;
}

.home-container h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #123;
    text-align: center;
}